<div class="container">
    <div class="jumbotron">
        <h1>TeloTraigodemiPueblo</h1>

        <p>La red social donde los usuarios pueden aprovechar sus viajes al pueblo (o lugar típico)
            para traer productos de ese sitio a sus amistades.</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-header">Si viajas a tu pueblo</div>
                <div class="panel-body">
                    Cuida a tus amistades y ofreceles la posibilidad de disfrutar de ese queso del que tanto hablas
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-header">Descubre productos auténticos</div>
                <div class="panel-body">
                    Aprovecha la escapa de tu compañero de trabajo y pídele que te traiga una botella de ese vino
                    del que tanto habla
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-header">Registrarme</div>
                <div class="panel-body">
                    <p>
                        El primer paso es registrarse en nuestro sistema, o identificarte si ya eres usuario.
                    </p>
                    <p>
                        <div class="btn-group-vertical" role="group" >
                            <button type="button" class="btn btn-primary" ng-click="vm.registrarme()">Registrarme</button>
                            <button type="button" class="btn btn-success" ng-click="vm.identificarme()">Identificarme</button>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

