<div class="container" ng-controller="LoginController as rc">

    <div class="row">

        <form class="form-horizontal" novalidate>
            <fieldset>
                <div id="legend">
                    <legend class="">Login</legend>
                </div>

                <div class="control-group">
                    <!-- E-mail -->
                    <label class="control-label" for="email">e-mail</label>
                    <div class="controls">
                        <input type="text" id="email" name="email" placeholder="" class="input-xlarge" ng-model="user.username" >
                        <p class="help-block">Utiliza el e-Mail con el que te registraste</p>
                    </div>
                </div>

                <div class="control-group">
                    <!-- Password-->
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input type="password" id="password" name="password" placeholder="" class="input-xlarge"  ng-model="user.password" >
                        <p class="help-block">Usa la password con la que te registraste</p>
                    </div>
                </div>

                <div class="control-group">
                    <!-- Button -->
                    <div class="controls">
                        <button class="btn btn-success" ng-click="rc.login(user)">Login</button>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>

</div>
