<div class="container" ng-controller="LugaresController as vm">

    <br>

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">
                Mis pueblos
            </h3>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="form-inline">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" ng-model="vm.newInstance.nombre" >
                    </div>
                    <div class="form-group">
                        <label for="latitud">Latitud</label>
                        <input type="number" class="form-control" id="latitud" ng-model="vm.newInstance.latitud" >
                    </div>
                    <div class="form-group">
                        <label for="longitud">Longitud</label>
                        <input type="number" class="form-control" id="longitud" ng-model="vm.newInstance.longitud" >
                    </div>
                    <button type="button" class="btn btn-default" ng-click="vm.save()">Nuevo</button>
                </div>
            </div>

            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Latitud</th>
                        <th>Longitud</th>
                        <th>Editar</th>
                        <th>&nbsp</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="u in vm.list track by $index">
                        <td><input type="text" ng-model="u.nombre" /></td>
                        <td><input type="number" ng-model="u.latitud" /></td>
                        <td><input type="number" ng-model="u.longitud" /></td>
                        <td><div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn" ng-click="vm.update(u)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button type="button" class="btn" ng-click="vm.productos(u)">
                                    <span class="glyphicon glyphicon-apple"></span>
                                </button>
                                <button type="button" class="btn" ng-click="vm.viajes(u)">
                                    <span class="glyphicon glyphicon-road"></span>
                                </button>
                            </div>
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-warning" ng-click="vm.delete(u)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>