<div class="container" ng-controller="ProductosController as vm">

    <br>

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">
                Mis productos de {{vm.lugar.nombre}}
            </h3>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="form-inline">
                    <div class="form-group">
                        <label for="nombre">Descripción</label>
                        <input type="text" class="form-control" id="nombre" ng-model="vm.newInstance.texto" >
                    </div>
                    <div class="form-group">
                        <label for="precio">Precio</label>
                        <input type="number" class="form-control" id="precio" ng-model="vm.newInstance.precio" >
                    </div>
                    <button type="button" class="btn btn-default" ng-click="vm.save()">Nuevo</button>
                </div>
            </div>

            <div class="row">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Editar</th>
                        <th>&nbsp</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="u in vm.list track by $index">
                        <td><input type="text" ng-model="u.texto" /></td>
                        <td><input type="number" ng-model="u.precio" /></td>
                        <td><div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn" ng-click="vm.update(u)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                        </div>
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-warning" ng-click="vm.delete(u)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
