<div class="container" ng-controller="SearchController as sc">

    <div class="panel" id="search-wrap">
        <div class="panel-heading">
            <h1 class="panel-title">
                Búsqueda de usuarios
            </h1>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="nombre">Criterio:</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Nombre" ng-model="search.like">
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <form class="form-inline">
                        <button type="submit" class="btn btn-default" ng-click="sc.search('usuario',search)">Buscar nombres de usuarios</button>
                        <button type="submit" class="btn btn-default" ng-click="sc.search('lugar',search)">Buscar usuarios por lugar</button>
                    </form>
                </div>
            </fieldset>
        </form>

    </div>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>eMail</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="u in sc.amigos track by $index">
                    <td>{{$index+1}}</td>
                    <td>{{u.nombre}}</td>
                    <td>{{u.username}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn" ng-click="sc.sendInvitation(u)">
                                <span class="glyphicon glyphicon-send"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>